<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="aircar.css"  />
    <title>AIR CAR</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">JORNAL TECNOLOGIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/index%204.html"> INICIO</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/perna.html">PERNA BIONICA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/vision.html">VISION PRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/aircar.html">AIRCAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/robos.html"> ROBÔS HUMANOIDES</a>
              </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <div class="main-content">
        <section id="hist">
            <h1>AirCar | O legítimo carro voador está em testes avançados na Europa </h1>
            <h2>Por Larissa silva | editado por Larissa Silva | 03 de novembro de 2024</h2>
            <img src="/view/img/aircar.jpg">
            <p>
              A Klein Vision, uma empresa europeia de mobilidade, revelou que seu 
                <br>
              projeto de carro voador, chamado de AirCar, está quase pronto.
                <br>
              Diferentemente de outros modelos que conhecemos como "carros voa
                <br>
              dores" (oficialmente nomeados eVTOLs), esse veículo se assemelha mui
                 <br>
              to aos automóveis convencionais, porém atua como uma aeronave  de de
                 <br>
              colagem padrão.
                <br>
                <br>
              Segundo a empresa, já foram realizadas mais de 70 horas de voo, com 
                <br>
              mais de 200 pousos e decolagens bem-sucedidos. A operação do Air Car
                <br>
              em solo é semelhante à de um avião comum, ou seja, pega-se a velocida
                <br>
              de necessária para alçar voo em diagonal, ao contrário da maioria dos
              <br>
              modelos em desenvolvimento, que o fazem na vertical.
            </p>
            <video width="400" height="240" autoplay>
              <source src="video/aircarvideo.mp4" type="video/mp4">
            </video>
            <p>
              Já a carcaça do AirCar se parece muito com a de um carro convencional,
              <br>
              mas as asas foram desenhadas como se fossem de uma aeronave padrão,
               <br>
              inclusive contando com spoilers para ajudar na frenagem pós-pouso. A 
               <br>
              parte "automobilística" do veículo é bem agressiva e passa um ar de
               <br>
              esportividade.
               <br>
               <br>
              Os motores elétricos estão alocados na parte traseira do AirCar e funcio
               <br>
              nam com rotores silenciosos. A empresa, porém, não revelou qual a po
               <br>
              tência e, tampouco, a autonomia do veículo quando equipada com esse 
               <br>
              powertrain. Algo que deve ser feito com a maturidade do projeto, 
               <br>
              ainda em fase de testes pesados.
               <br>
               <br>
              No passado, porém, a empresa chegou a usar motores BMW de 160cv 
               <br>
              como base de sustentação para os propulsores elétricos.
            </p>
            <img src="/view/img/aircarr.jpg">
            <p>
              O AirCar pode chegar aos 300 km/h e o teto operacional é de mil met
              <br>
              ros. Em seu site oficial, a Kien Vision revela que existem diferentes ver
              <br>
              sões do carro voador, como uma para apenas dois passageiros, outra pa
              <br>
              ra quatro e até mesmo uma variante anfíbia, com capacidade para pou 
              <br>
              sos às articulações robóticas da prótese.
           </p>
   </section>
    </div>
</div>
<footer>
  <p>JORNAL TECNOLOGIA<br>
</footer>
</body>
</html>