<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css"  />
    <title>JORNAL TECNOLOGIA</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">JORNAL TECNOLOGIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/index%204.html"> INICIO</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/perna.html">PERNA BIONICA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/vision.html">VISION PRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/aircar.html">AIRCAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/robos.html"> ROBÔS HUMANOIDES</a>
              </li>
          </ul>
        </div>
      </nav>
      <img id="imagem" src="/view/img/vision.jpg"/>
      <div id="texto">APPLE VISON PRO</div>
      <div id="conteudo">“A era da computação espacial chegou. O Apple Vision Pro é o dispositivo de eletrônicos de consumo mais avançado já criado. Sua revolucionária e mágica interface do usuário redefinirá como nos conectamos, criamos e exploramos”, disse o CEO da Apple, Tim Cook, em um comunicado.</div>
      <div id="link">
        <a class="nav-link" href="http://127.0.0.1:5500/view/vision.html">VEJA MAIS</a>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/view/img/BIONICA.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">PERNA BIONICA</h5>
              <p class="card-text">Pesquisadores da Universidade de Utah, nos Estados Unidos, desenvolveram uma nova prótese de perna robótica leve, capaz de replicar com precisão os movimentos do joelho e do tornozelo do usuário, além de todas as articulações presentes nos dedos dos pés.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Ultima atualização a 1 més</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/view/img/aircar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AIR CAR</h5>
              <p class="card-text">Estamos cada vez mais próximos do futuro com carros voadores, com diversos projetos já saindo do papel e passando por diversos testes de segurança e voo. Um desses carros que estão sendo testados é o modelo da Klein Vision, que é chamado de AirCar e está bastante avançado na sua fase de testes, realizando voos sobre cidades.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Ultima atualização a 10 dias</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/view/img/robo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ROBÔS HUMANOS</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Ultima atualização a 27 dias </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/view/img/caorobo.webp" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">CÃO ROBO ARMADO</h5>
              <p class="card-text">Durante os recentes exercícios militares em conjunto com o Camboja, a China revelou sua mais nova arma de guerra: um cão-robô equipado com uma metralhadora. A megaoperação militar é chamada “Golden Dragon”, conta com mais de 2 mil soldados, 12 navios e tem duração de 15 dias.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Ultima atualização a 13 dias</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/view/img/rastreador.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RASTREADOR DE MALA</h5>
              <p class="card-text">O rastreador ajuda a reduzir um dos maiores medos em uma viagem de avião: o da companhia aérea perder ou esquecer as malas em algum local. Com ele, é possível monitorar a bagagem o tempo todo pelo celular, da esteira do check-in ao destino final. O produto também serve para localizar outras coisas – pode ser colocado na coleira do bicho de estimação, no chaveiro de casa ou até mesmo na carteira – e nunca mais perder os objetos por aí.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Ultima atualização a 2 meses</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/view/img/oppo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CELULARES OPPO</h5>
              <p class="card-text">Uma marca de celulares entrará no varejo brasileiro: a chinesa Oppo venderá o smartphone Reno 7 em lojas parceiras a partir de segunda-feira (26). A marca planeja usar esse período para conhecer o mercado interno e admite a possibilidade de fabricar aparelhos no país<p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Ultima atualização a 22 dias </small>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>JORNAL TECNOLOGIA<br>
      </footer>
    </body>
</html>

