<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="aircar.css"  />
    <title>ROBÔS HUMANOIDES</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">JORNAL TECNOLOGIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/index%204.html"> INICIO</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/perna.html">PERNA BIONICA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/vision.html">VISION PRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/aircar.html">AIRCAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/robos.html"> ROBÔS HUMANOIDES</a>
              </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <div class="main-content">
        <section id="hist">
            <h1>Ameca, o robô humanoide que impressiona por semelhança com humanos</h1>
            <h2>Por Larissa silva | editado por Larissa Silva | 03 de novembro de 2024</h2>
            <img src="/view/img/robo.jpg">
            <p>
              Seu nome é Ameca. Ele é o novo robô da empresa britânica Engineered 
                <br>
              Arts, especializada em máquinas humanoides. Sua extrema semelhança
                <br>
              com seres humanos acabou chamando atenção de internautas nas redes
                <br>
              sociais;
                 <br>
                 <br>
              Em seu anúncio, a empresa afirmou que "Ameca é o robô em forma huma
                <br>
              na mais avançado do mundo". Seus criadores dizem que ele pode servir 
                <br>
              de plataforma para o desenvolvimento de futuras tecnologias roboticas.
            </p>
            <video width="400" height="240" autoplay>
              <source src="/view/video/roboameca.mp4" type="video/mp4">
            </video>
            <p>
              Apesar da alta tecnologia, o robô ainda não possui a habilidade de andar.
              <br>
              Segundo a empresa, caminhar é uma tarefa difícil, mas está nos planos de
               <br>
              desenvolvimento.
            </p>
            <br>
            <h3>VEJA O QUE SE SABE SOBRE AMECA:</h3>
            <p>
              * Projeto levou 15 anos de trabalho.
              <br>
              * Seu preço será de cerca de 100 mil libras, equivalente a R$ 770.000.
              <br>
              * Hardware e software que permitem atualização constante.
              <br>
              * Movimentos suaves e realistas que buscam estabelecer um "relaciona
              <br>
              mento instantâneo com pessoas", segundo a fabricante.
           </p>
           <img src="/view/img/ameca.avif">
           <p>
              Ameca estará disponível para aluguel, na participação de eventos, e ta
              <br>
              mbém para a venda.
              <br>
              <br>
              "O custo é realmente variável de acordo com as capacidades de cada uni
              <br>
              dade, mas fica acima de 100 mil [libras] no Reino Unido, e será realmen
              <br>
              te sobre o que você precisa que seu robô faça", afirmou Jackson.
              <br>
           </p>
   </section>
    </div>
</div>
<footer>
  <p>JORNAL TECNOLOGIA<br>
</footer>
</body>
</html>