<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="vision.css"  />
    <title>VISION PRO</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">JORNAL TECNOLOGIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/index%204.html"> INICIO</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/perna.html">PERNA BIONICA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5500/view/vision.html">VISION PRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/aircar.html">AIRCAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/view/robos.html"> ROBÔS HUMANOIDES</a>
              </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <div class="main-content">
        <section id="hist">
            <h1>Apple revela Vision Pro, óculos de realidade mista de R$ 17 mil </h1>
            <h2>Por Larissa silva | editado por Larissa Silva | 03 de novembro de 2024</h2>
            <img src="/view/img/vision.jpg">
            <p>
              A Apple apresentou nesta segunda-feira (5) seus óculos de realidade 
                <br>
              virtual. O chamado Vision Pro marca a entrada daempresa neste seg
                <br>
              mento, que tem recebido investimentos de concorrentes como a meta
                <br>
              dona dp Facebook.
                <br>
                <br>
              Os óculos podem ser controlados com os olhos, as mãos e a voz, além 
                <br>
              do teclado e do touchpad da empresa. Eles servem para assistir vídeos,
                <br>
              fazer chamadas de vídeo, navegar na internet e controlar objetos  virtu
                <br>
              ais em 3D, por exemplo.
            </p>
            <video width="400" height="240" autoplay>
              <source src="/view/video/visionprovideo.mp4" type="video/mp4">
            </video>
            <p>
              O Vision Pro conta com duas telas 4K, sendo uma em cada lente. Quem 
              <br>
              usar o dispositivo, poderá ver o que está ao seu redor enquanto navega
               <br>
              no sistema e escolher se o visor fica transparente para que outras pesso
               <br>
              as possam ver seus olhos por meio do recurso EyeSight "visão", em tra
               <br>
              dução direta.
               <br>
               <br>
              O aparelho também conta com um sistema de câmeras e microfones Que
              <br>
              permite gravar vídeos e tirar fotos em 3D. Ele é usado para criar as chama
               <br>
              das Personas, representações digitais dos usuários que podem refletir mo
               <br>
              vimentos do rosto e das mãos durante chamadas de vídeo.
               <br>
               <br>
              A novidade foi classificada como um dispositivo de "computação espacial" 
               <br>
              pelo presidente-executivo da Apple, Tim Cook. "É o primeiro dispositivo
               <br>
              da Apple que você olha através dele, não para ele", disse.
            </p>
            <img src="/view/img/visionproo.webp">
            <p>
              Segundo a Apple, os óculos foram pensados para serem usados enqua
              <br>
              enquanto estão ligados à tomada. Eles também terão uma bateria exter
              <br>
              na que permitirá até duas horas de uso de forma portátil.
           </p>
   </section>
    </div>
</div>
<footer>
  <p>JORNAL TECNOLOGIA<br>
</footer>
</body>
</html>